
body {
    background-image: url(./images/background.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: 0 15%;
    /* background-color: #f4e1d0 !important; */
}
:root{
    --cl-pink: #e372ba;
}
.modal-footer .btn-pink{
    background-color: var(--cl-pink);
    color: #fff;
}
#cl-pink{
    color: var(--cl-pink);
}
.modal-content {
    position: relative; 
    background-color: rgba(255, 255, 255,0.5) !important;
    /* border: none !important; */
}

.modal-content .img {
    z-index: 100000;
    position: absolute; /* Định vị tuyệt đối */
    top: -50px; /* Đặt vị trí phía trên cùng của modal */
    left: -20px; /* Đặt vị trí bên trái cùng của modal */
    /* transform: rotate(45deg); Xoay hình ảnh 45 độ */
}

.modal-content .img img {
    width: 100px; /* Đặt chiều rộng hình ảnh */
    height: 100px; /* Đặt chiều cao hình ảnh (nếu cần) */
    background-size: cover; /* Hiển thị hình ảnh đầy đủ không bị méo */
    background-repeat: no-repeat; /* Không lặp lại hình nền */
}
.modal-body{
    
}
.modal-body input{
    background-color: rgba(255, 255, 255,0.5) !important;
    /* border: none !important; */
    border: var(--cl-pink) solid 1px;
    color: var(--cl-pink);
}
.modal-body p{
    color: red;
}



@media (max-width: 767px) {
    body {
    background-image: url(./images/background-2.jpg);
    background-position: 0 80px;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat; /
    }
  }
  